<header>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/projects">Jamie Kiser</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/projects">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <% if user_signed_in? %>
                <a class="nav-link" href="/users/edit">Edit Account</a>
              <% else %>
                <a class="nav-link" href="/users/sign_in">Login</a>
              <% end %>
            </li>
            <li class="nav-item">
              <% if user_signed_in? %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'nav-link' %>
              <% else %>
                <a class="nav-link" href="/users/sign_up">Sign Up</a>
              <% end %>
            </li>
          </ul>
          <div class="form-inline my-2 my-lg-0">
            <% if user_signed_in? %>
              <a href="/projects/new" class="btn btn-info">New Project</a>
            <% end %>
          </div>
        </div>
      </nav>
        </div>
      </div>
    </header>

<h2>Edit <%= resource_name.to_s.humanize %></h2>
<body class="text-center">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
  <p></p>
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
